/part12-Part12_05.HashMap/target/
/part12-Part12_06.Numbers/target/
/part12-Part12_07.Die/target/
/part12-Part12_08.Lottery/target/
/part12-Part12_09.ArrayAsAString/target/
/part13-Part13_01.MyFirstApplication/target/
/part13-Part13_04.BorderPane/target/
/part13-Part13_02.ButtonAndLabel/target/
/part13-Part13_03.ButtonAndTextField/target/
/part13-Part13_06.Notifier/target/
/part13-Part13_05.TextStatistics/target/
/part13-Part13_08.UserTitle/target/
/part13-Part13_09.MultipleViews/target/
/part13-Part13_10.Greeter/target/
/part13-Part13_11.Joke/target/
/part13-Part13_12.VocabularyPractice/target/
/part13-Part13_13.TicTacToe/target/